.hint {
    z-index: 1e6;
    background: var(--color-dark);
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 25px;
    right: -100%;
    transition: var(--duration-slow);

    &--show {
        right: 0;
    }


    & > .text {
        margin: 0 30px;
    }

    .button {
        background: var(--color-light);
        border-radius: 0;

        &:hover .light-paragraph {
            text-shadow: 0 0 15px var(--color-dark);
        }

        &:active .light-paragraph {
            text-shadow: 0 0 25px var(--color-dark);
        }

        .light-paragraph {
            color: var(--color-dark);
        }
    }

    .button {
        padding: 20px 30px;
    }
}