.cta-canvas {
    position: relative;
    display: grid;
    place-items: center;
    min-height: 100vh;

    .canvas-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: -1;
    }
}